.app {
  margin: 10px;
}

.app-header {
  background-color: #282c34;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.instructions {
  margin: 15px;
}

.instructions-title {
  font-size: 1.2em;
}

.instructions-list {
  font-size: .9em;
}

.crossout {
  text-decoration: line-through;
}

.paragraph-input {
  margin: 30px;
}